* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular", "Times New Roman", Dotum, "돋움",
    sans-serif;
  position: absolute;
  background-color: #f0f4ff;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.container {
  width: 400px;
  height: 360px;
  position: absolute;
  background: linear-gradient(144.07deg, #5572bb 2.13%, #374b7c 102.97%);
  border-radius: 16px;

  align-items: center;
  margin-top: 20px;
  left: 440px;
  top: 180px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header {
  margin: 48px 164px 23px 164px;
}

.timer-display {
  position: relative;
  height: 98px;
  display: flex;
  align-items: center;
  font-size: 35px;
  color: white;
  justify-content: center;
  padding: 30px 58px;
  border-top: solid 2px #3d538a;
  margin: 0 44px;
}

.controls {
  display: flex;
  margin-top: 20px;
}

.buttons {
  display: flex;
  padding: 10px;
  margin: 0 10px;
  justify-content: space-around;
}

.buttons button {
  width: 112px;
  height: 48px;
  background: #5180ff;
  border: none;
  border-radius: 50px;
}

.buttons button:nth-last-child(1) {
  background: #fb7099;
}
